*{
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.news{
    padding: 0px;
    background-color:white;
    margin: 0px;
    text-align: center;  
}

.news h1{
    background-color: rgb(0, 128, 255);
    color: white;
    padding: 30px;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    position: sticky;
    top: 0px;

}
.newscatogoryheading{
    text-align: left;
    padding: 20px;
    background-color: white;
    width: 100%;
    position: fixed;
}


.newscontent {
    background-color:white;
    width: 22%;
    padding: 20px;
    border-radius: 5px;
    margin:40px;
    margin-top:100px;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
   
}
.newscontent a{
    cursor: pointer;
}





.newscontent img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    
}

.newscontent p{
margin-bottom: 20px;
}

#catogory{
    color: rgb(212, 255, 0);
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 3px solid rgb(212, 255, 0);
    font-weight: 700;
    background-color: transparent;
    padding: 10px;
    padding-bottom: 2px;
    position: absolute;
    left: 20px;
    cursor: pointer;
}
#catogory option {
    color: black;
    cursor: pointer;
}